* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.color_balck {
  color: #000;
}
.boredr_r {
  border-radius: 10px;
}
.boredr_ra {
  border-radius: 60px 0px 60px 0px;
}
.border1 {
  border: 5px solid #686868;
}
.title_h1 {
  font-size: 23px;
}
.title_h1:hover {
  color: #7306f9;
}
.descriptionp {
  font-size: 16 px;
  color: #686868;
}
.reting_p {
  font-size: 18px;
}
.reting_p span {
  color: #388e3c;
}

.price_h5 {
  font-size: 22px;
}
.price_h5 span {
  color: #388e3c;
}
.iphone_width {
  max-width: 100%;
  width: 100%;
  height: 100px;
}
.text_dnone {
  text-decoration: none;
  color: #000;
}
.btn1 {
  background-color: #7306f9;
  padding: 5px 10px;
  border-radius: 5px;
  color: #fff;
  display: inline;
}
.btn1:hover {
  color: #000;
}
